$gray: #eeeeef;
$line-img: "eeeeef.gif";
$link: #369;
$hover: #a00;

@import "setup";

// site style
body {
  font-family: "Helvetica Neue", sans-serif;
  padding-bottom: 150px;
}

a {
  @include hover-link;
  @include link-colors($link, $hover);
}

#hd {
  @include pie-clearfix;
  nav {
    @include padding-leader(1);
  }
  li {
    float: left;
    margin-right: 30px;
  }
  h1 {
    @extend .font-xxxl;
    @include padding-leader(2,$font-xxxl);
  }
}

#bd {
  @include pie-clearfix;
}

.title {
  margin-bottom: -1px;
  @include padding-leader(1,$font-xl);
  @include margin-trailer(1,$font-xl);
  background: image-url($line-img) repeat-x bottom;
  code {
    position: relative;
    top: -5px;
  }
}

#heading {
  h1 {
    @extend .title;
    @include padding-leader(1,$font-xxl);
    @include margin-trailer(0);
  }
}

#lists {
  @include pie-clearfix;
  .list {
    @include padding-trailer(1,$font-s);
    @extend .font-s;
  }
  .title {
    @include padding-leader(1,$font-m);
    background: none;
    h2 {
      background: image-url($line-img) repeat-x bottom;
    }
  }
  h3 {
    @include adjust-leading-to(1,$font-m);
    small {
      display: block;
      color: #999;
      font-weight: normal;
    }
  }
}

ul,ol {
  color: #666;
}