//
// Consistency fixes
// adopted from http://necolas.github.com/normalize.css/
//

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  min-height: 100%;
  font-size: 100%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
  display: block;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
}
b, strong {
  font-weight: bold;
}
abbr[title] {
  border-bottom: 1px dotted;
}
input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
      box-sizing: border-box;
}
textarea {
  overflow: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


//
// Simple fluid media
//

figure {
  position: relative;
}
figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

small {
  font-size: .7em;
}

cite {
  font-style: italic;
}

ul {
  margin-left: 20px;
  list-style: disc;
}
ul.unstyled {
  list-style: none;
  margin-left: 0;
  ul {
    list-style: disc;
  }
}
ol {
  margin-left: 28px;
  list-style: decimal;
}
dt {
  font-weight: bold;
}
dd {
  padding-left: 1em;
}
