//
// Simple elastic gutters
// Note: box-sizing will not work in IE6-8
//

.wrapper {
  padding: 0 #{($ggs-line/2)/$ggs-em}em;
  @include box-sizing(border-box);
  @include pie-clearfix;
}

//
// Fixes for IE6-8
// http://jonikorpi.com/leaving-old-IE-behind/
//

.ie body {
  width: 640px;
  margin: 0 auto;
  font-size: 100%;
}

.ie h1 {
  @extend .font-xxl;
}