@media screen and (min-width: 720px) {
  body {
    @include font-zoom;
  }
  $column: 6;
  .content {
    @include ggs-container($column);
  }
  #lists {
    .type {
      float: left;
      @include ggs-column(3,$column);
    }
  }
}

@media screen and (min-width: 888px) {
  body {
    @include font-zoom(1);
  }
}

@media screen and (min-width: 984px) {
  body {
    @include font-zoom;
  }
  $column: 8;
  .content {
    @include ggs-container($column);
  }
  #hd {
    h1 {
      @include adjust-font-size-to(60px);
    }
    nav {
      @include adjust-font-size-to($font-l);
    }
  }
  #heading {
    float: left;
    @include ggs-column(2,$column);
  }
  #paragraph {
    float: left;
    @include ggs-column(6,$column);
  }
  #lists {
    clear: both;
    @include pie-clearfix;
    .title {
      @include ggs-column(8,$column);
    }
    .type {
      float: left;
      @include ggs-column(2,$column);
    }
  }
  #quote {
    float: left;
    @include ggs-column(4,$column);
  }
  #code {
    float: left;
    @include ggs-column(4,$column);
  }
}

@media screen and (min-width: 1200px) {
  body {
    @include font-zoom(1);
  }
}

@media screen and (min-width: 1392px) {
  body {
    @include font-zoom;
  }
  $column: 6;
  .content {
    @include ggs-container($column);
  }
}

@media screen and (min-width: 1680px) {
  body {
    @include font-zoom(4);
  }
}