.content {
  width: 640px;
  margin: 0 auto;
}

#hd {
  @extend .wrapper;
}

@media screen and (min-width: 640px) {
  body {
    @include font-zoom(1);
  }
  .content {
    width: auto;
    margin: 0 $ggs-column;
  }
}