.content {
  width: 640px;
  margin: 0 auto;
}


@media screen and (max-width: 640px) {
  .content {
    width: auto;
    margin: 0 $ggs-column;
  }

  #hd {
    @extend .wrapper;
    h1 {
      @include adjust-font-size-to($font-xxl);
    }
    nav li {
      float: none;
    }
  }
}

@media screen and (min-width: 640px) {
  body {
    @include font-zoom(1);
  }
  .content {
    width: auto;
    margin: 0 $ggs-column;
  }
}