%section#code
  %h2.title
    Code 程式碼
    %code &lt;code&gt;
    %code &lt;pre&gt;
  #usage
    %p
      %code &lt;pre&gt;your code&lt;/pre&gt;
  #section
    %pre= partial "code-code1"
  #usage
    %p
      %code &lt;pre class=&quot;prettyprint&quot;&gt;your code&lt;/pre&gt;
  #section
    %pre.prettyprint= partial "code-code1"