%h1 +Golden Grid System <br>+Bootstrap Style <br>+Compass Framework
%nav
  %h2.hide Main Navigation
  %ul
    %li= link_to( "Github", "https://github.com/evenwu/compass-ggs-framework" )
    %li= link_to( "Golden Gird System", "http://goldengridsystem.com" )
    %li= link_to( "Bootstrap", "http://twitter.github.com/bootstrap/" )